button {
    cursor: pointer;
}

.modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 11000;
    position: fixed;
    display: none;
}

.no_href {
    text-decoration: none;
    color: black;
}

.no_href:hover {
    text-decoration: none;
    color: red;
}

.login {
    position: relative;
    text-align: left;
    left: 0px;
    float: right;
    top: -50px;
    width: 400px;
}

.login .button {
    position: relative;
}

.head {
    margin: -40px -20px 0px;
    width: 101%;
    height: 40px;
    border-radius: 7px 7px 7px 7px;
    border: 5px solid #808f81;
    font-size: 100%;
    background-image: url("/images/header-wrapper-bg.png");
    /*background-color: rgb(136, 184, 192);*/
    padding-left: 15px;
    padding-top: 5%;
}

.right-block{
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: rgb(180, 209, 237);
    border: 3px solid;
    /*padding: 20;*/
    width: 74%;
}
.messages .container{
    width: 100%;
    cursor: pointer;
}
.messages .inner{
    width: 100%;
    /*background-color: rgb(65, 116, 82);*/
}
.messages .new{
    width: 100%;
    background-color: rgb(81, 200, 228);
}
.messages .my-messages{
    width: 100%;
    background-color: rgb(81, 180, 158);
}
.messages .new.my-messages{
    width: 100%;
    background-color: rgb(130, 180, 138);
}
.messages .inner:hover{
    width: 100%;
    background-color: rgb(180, 209, 100);
}
.messages .left{
    width: 15%;
    text-align: center;
    border-right: 1px solid rgb(0,0,0);
    border-bottom: 1px solid rgb(0,0,0);
}
.messages .right{
    width: 85%;
    padding: 20px 15px;
    border-bottom: 1px solid rgb(0,0,0);
}

.write-block{
    text-align: center;
}
.write-block textarea{
    display:block;
    margin: 10px;
    width:98%;
    min-height: 150px;
    resize: none;
}

.user-selector-block div{
    margin-bottom:15px;
    margin-right:35px;
    display: inline-block;
    height: 30px; 
    min-width: 200px;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(207, 148, 148);
    font-size: 150%;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
.user-selector-block button{
    margin-bottom:15px;
    width: 200px;
    height: 30px;
    font-size: 134%;
    background-color:rgb(132, 157, 239);  
    border-radius: 10px;
}

.users-list{
    width: 700px;
    height: 500px;
    background-color: rgb(180, 209, 237); 
    border-radius: 10px;
    border:3px solid rgb(0,0,0);
    padding: 15px;
    overflow-y: auto;
}
.users-list div{
    width: 227px;
    height: 30px;
    display: inline-block;
    background-color: rgb(101, 173, 99); 
    border-radius: 3px;
    border:1px solid rgb(0,0,0);
    text-align: center;
    vertical-align: middle;
    font-size: 140%;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}
.users-list div:hover{
    background-color: rgb(181, 50, 0); 
}
.data-span{
    color: rgb(124, 97, 48);
}

.filter-tr td{
    height: 30px;
    width: 150px;
    border-bottom: 3px solid rgb(0,0,0);
    border-right: 3px solid rgb(0,0,0);
    color: rgb(47, 104, 152);
}
.list-tr:hover{
    background-color: rgb(181, 50, 0);
}
.list-tr td{
    height: 50px;
    width: 150px;
    border-bottom: 1px solid rgb(207, 120, 120);
    border-right: 1px solid rgb(207, 120, 120);
}
.profile-edit{
    padding: 30px;
}
.profile-edit h2{
    margin-bottom: 10px;
}
.profile-edit input{
    width: 80%;
    height: 35px;
    font-size: 120%;
    padding-left: 5px;
}

.menu {
    color: #999999;
    padding: 10px 0px 50px 20px;
    margin-left: 20px;
    margin: 0px -15px;
    width: 250px;
    height: auto;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid #808f81;
    border-top-width: 0px;

    background-color: rgb(26,26,26);
    background-size: 500%;

    float: left;
}

.menu a {
    display: inline-block;
    height: 16px;
    font-size: 18px;
    color: white;

    margin-bottom: 5px;
}

.menu a:visited {
    color: #4B4B69;
}

.modal .input_dark {
    width: 180px;
    float: right;
    margin-right: 10px;
}

.input_dark {
    border: 1px linear-gradient(to top, #ffffff, #000000);
    color: #C9DFDE;
    border-radius: 5px 5px 5px 5px;
    background-color: #444444;
}

.input_dark:focus {
    background-color: #888888;
}

#_registration {
    display: none;
    color: #999999;
    border-radius: 17px 17px 17px 17px;
    border: 5px solid #444444;
    text-decoration: appworkspace;
    padding-top: 15px;
    padding-left: 10px;
    width: 500px;
    height: 300px;
    background-color: #222222;
}

.body {
    background-image: url("/images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.button {
    height: 22px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: #eeeeee;
    border-radius: 8px 8px 8px 8px;
    background-color: #2222cc;
    padding-bottom: 5px;
}

.button:hover {
    color: #000000;
    background-color: #cccc22;
}

@-webkit-keyframes redWhiteFade {  
    0% { background-color: white; }
    50% { background-color: red; }
    100% { background-color: white; }
}

.blinkdiv {
    height: 100px;
    background-color: red;
    -webkit-animation-name: redWhiteFade; 
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}   